<ul>
  <li>Name: <%= @product.name %></li>
  <li>Description: <%= @product.description %></li>
  <li>Price: <%= @product.price %></li>
  <li><img src="<%= @product.image %>"></li>
</ul>

<%= link_to "Edit", "/products/#{@product.id}/edit" %>
<%= link_to "Delete", "/products/#{@product.id}", method: :delete %>
